{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {# Vidéo background #}
    <video id="background-video" autoplay loop muted>
        <source src="Video/acceuil.mp4" type="video/mp4">
    </video>

	<section class="container my-3">
        {# logo en haut #}
        <img style="width: 100%;" src="images/default_images/logo1.png" alt="">
        {# Petit texte #}
        <p class="mx-2 my-4 text-center text-white fs-5"> Rejoignez la communauté Chargether</p>
        {# bouton s'inscrire #}
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_register') }}"
               class="col-9 m-4 d-flex align-items-center justify-content-center text-decoration-none text-center text-secondary
               rounded-pill bg-white border-4 border-secondary">
                <h3 class=" fs-5 text-secondary my-2 ">
                    S'inscrire
                </h3>
            </a>
        </div>
		<div class="row">
			<div class="col">

				<form method="post">

					{% for message in app.flashes('success') %}
						<div class="alert alert-success mt-4">
							{{ message }}
						</div>
					{% endfor %}

					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<div class='alert alert-success'>
						<h1 class="h1 mb-3 font-weight-normal">Se connecter</h1>

						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

						<label for="inputPassword">Mot de Passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="btn btn-lg btn-success mt-3" type="submit">
							Me Connecter
						</button>
                      <a class="btn btn-lg btn-primary mt-3" href="{{ path('app_register') }}" role="button">M'Inscrire</a>
					</div>
				</form>
			</div>
		</div>
	</section>

{% endblock %}
