{% extends 'base.html.twig' %}

{% block title %}
    Home - Chargether
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{ googleApiKey }}&callback=initMap"></script>
{% endblock %}

{% block body %}
    <section class="fixed-top mt-5">
        <div class="w-100 text-center mt-3">
            <a href="{{ path('vehicules') }}" class="btn bg-light border border-secondary border-3 rounded-pill fw-bolder text-secondary text-decoration-none">
                {{ app.user.vehicles[0].brand ~ ' ' ~ app.user.vehicles[1].model }}
            </a>
        </div>
    </section>

    {% include 'components/_map.html.twig' %}
    <div id="station-info" class="d-none station-info position-absolute bottom-0 bg-white w-100 d-flex flex-column gap-4 p-3 pt-4 align-items-center"></div>
{% endblock %}
