{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row">
			<div class="col">
				<h1>S'Inscrire</h1>

				{{ form_start(form) }}

				<div class='bg-primary alert'>
					<fieldset class="mb-2">
						<legend>Mon Identité</legend>
						{{ form_row(form.email) }}
						{{ form_row(form.userName) }}
						{{ form_row(form.lastName) }}
						{{ form_row(form.firstName) }}
						{{ form_row(form.gender) }}

						<div class="mb-3">
							{{ form_row(form.imageFile) }}
						</div>
						<div class="mb-3">
							{{ form_row(form.birthDate) }}
						</div>
					</fieldset>
				</div>

				<div class='bg-primary alert'>
					<fieldset class="mb-2">
						<legend>Mes Coordonnées</legend>
						{{ form_row(form.address) }}
						{{ form_row(form.city) }}
						{{ form_row(form.zipcode) }}
						{{ form_row(form.country) }}
						{{ form_row(form.phoneNumber) }}
					</fieldset>
				</div>

				{{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(form.agreeTerms) }}

	<div class="d-flex justify-content-center">
			<button type="submit" href="{{ path('app_profil_hote') }}" class="m-4 text-center col-9 d-flex align-items-center justify-content-center rounded-pill bg-primary gap-3">
            <i class="bi bi-check-circle-fill"></i> Enregistrer
			</button>
		</div>

				{{ form_end(form) }}
			</div>
		</div>
	</section>

{% endblock %}
