{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Chargether
{% endblock %}

{% block specific_javascript %}
	<script src="https://kit.fontawesome.com/47e5d2715e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

	<header class="bg-primary d-flex justify-content-center">
		<h4 class="text-white my-3">
			<a href="{{ path('app_profil_hote') }}" class="btn btn-primary" role="button" data-bs-toggle="button">
				<i class="bi bi-arrow-left-circle-fill"></i>
			</a>
			Changement de Mot de Passe
		</h4>
	</header>

	<div class="d-flex justify-content-start align-items-center m-3 mb-0">
		<div class="d-flex flex-column"></div>
		<h5 class="text-secondary ms-5">
			INFORMATIONS DU COMPTE
		</h5>
	</div>

	<div class="h4 pb-3 mx-3 border-bottom border-secondary"></div>


	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8 offset-md-2">

				{{ form_start(form) }}

				{{ form_row(form.currentPassword) }}

				{{ form_row(form.newPassword) }}

				<div class="mb-5">
					<div class="d-flex justify-content-center mb-5">
						<button type="submit" href="{{ path('app_profil_hote') }}" class="btn btn-secondary m-4 text-center text-white col-9 d-flex align-items-center justify-content-center rounded-pill gap-3 p-0">
							<h3 class="text-white my-2">Enregistrer</h3>
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>


	{{ form_end(form) }}

{% endblock %}
