{% extends 'base.html.twig' %}

{% block title %}Inscription Hote - Chargether{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('geocoding') }}
    {{ encore_entry_script_tags('station') }}
{% endblock %}

{% block body %}
<div>
    <h1 class="p-3 bg-primary text-white text-center fs-5">Informations de l'hôte</h1>
    <h2 class="text-center text-secondary border-3 border-secondary border-bottom m-3 pb-3">TYPE DE CONNECTEUR</h2>
            <div class="d-flex flex-wrap">
                <div class="plug-type-item col-6 text-center mb-3" data-plug-type={{ plugsType[0].value }}>
                    <img src="{{ asset('images/stations/plugs/domestique.png') }}">
                </div>
                <div class="plug-type-item col-6 text-center mb-3" data-plug-type={{ plugsType[1].value }}>
                    <img src="{{ asset('images/stations/plugs/type1.png') }}">
                </div>
                <div class="plug-type-item col-6 text-center mb-3" data-plug-type={{ plugsType[3].value }}>
                    <img src="{{ asset('images/stations/plugs/type3.png') }}">
                </div>
                <div class="plug-type-item col-6 text-center mb-3" data-plug-type={{ plugsType[2].value }}>
                    <img src="{{ asset('images/stations/plugs/type2.png') }}">
                </div>
                <div class="plug-type-item col-6 text-center mb-3" data-plug-type={{ plugsType[4].value }}>
                    <img src="{{ asset('images/stations/plugs/type2atache.png') }}">
                </div>
            </div>

    <h2 class="text-center text-secondary border-3 border-secondary border-bottom m-3 pb-3">PUISSANCE DE CHARGE</h2>
    <div class="d-flex flex-wrap">
        <div class="station-power-item col-6 text-center mb-3" data-station-power={{ stationPowers[0].value }}>
            <img src="{{ asset('images/stations/power/borne3kw.png') }}">
        </div>
        <div class="station-power-item col-6 text-center mb-3" data-station-power={{ stationPowers[1].value }}>
            <img src="{{ asset('images/stations/power/borne7kw.png') }}">
        </div>
        <div class="station-power-item col-6 text-center mb-3" data-station-power={{ stationPowers[2].value }}>
            <img src="{{ asset('images/stations/power/borne18kw.png') }}">
        </div>
    </div>
        <div class="px-3">
            {{ form_start(form) }}
            <div class="d-none">
                {{ form_row(form.plugType) }}
            </div>
            <div class="d-none">
                {{ form_row(form.power) }}
            </div>
            <div class="d-none">
                {{ form_row(form.coordinates) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% endblock %}
