{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}

    <header class="bg-primary d-flex justify-content-center">
        <h1 class="text-white my-3">
            Notifications
        </h1>
    </header>

    <div>
        {% for notification in app.user.notifications %}
            {% if not notification.isRead %}
                <a href="{{ path('app_notification_show', {id: notification.id}) }}" class="card align-items-start bg-secondary text-white position-relative m-3 text-decoration-none">
                    <div class="card-body d-flex flex-column gap-2">
                        <p class="card-text m-0">{{ notification.createdAt|date('Y-m-d - H:i') }}</p>
                        <p class="card-text m-0">{{ notification.body }}</p>
                    </div>
                    <span class="bg-white p-1 px-2 rounded text-secondary position-absolute top-0 end-0 m-1 fw-bold">new</span>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for notification in app.user.notifications %}
            {% if notification.isRead %}
                <a href="{{ path('app_notification_show', {id: notification.id}) }}" class="card align-items-start bg-transparent border border-secondary m-3 text-decoration-none">
                    <div class="card-body d-flex flex-column gap-2">
                        <p class="card-text m-0">{{ notification.createdAt|date('Y-m-d - H:i') }}</p>
                        <p class="card-text m-0">{{ notification.body|slice(0,45) }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
