{% extends 'base.html.twig' %}

{% block title %}Home - Chargether{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('navigation') }}
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{ googleApiKey }}&callback=initMap"></script>
{% endblock %}

{% block body %}
    <div class="position-relative h-100">
        <a id='start-navigation' class="btn btn-secondary shadow p-3 px-5 rounded-pill" href="https://www.google.com/maps/dir/?api=1&destination={{ destination }}" data-destination="{{ destination }}">j'y vais</a>
        {% include 'components/_map.html.twig' %}
    </div>
{% endblock %}
