{% extends 'base.html.twig' %}

{% block title %}Reservations - Chargether{% endblock %}

{% block specific_javascript %}
	<script src="https://kit.fontawesome.com/47e5d2715e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}





	<header class="bg-primary d-flex justify-content-center">
		<h4 class="text-white my-3">
			<a href="{{ path('app_profil_hote') }}" class="btn btn-primary" role="button" data-bs-toggle="button">
				<i class="bi bi-arrow-left-circle-fill"></i>
			</a>
			Réservation
		</h4>
	</header>

	<h1 class="mt-5 text-secondary text-center">Historique</h1>

	<div class="h4 pb-3 mx-3 border-bottom border-secondary"></div>


{% for booking in app.user.bookings %}
    {{ dump(booking) }}

    <div class="my-5">
		<div class="my-2 mx-3 d-flex justify-content-between">
			<h6 class="text-primary">Détails de la réservation :</h6>
		</div>

		<div class="mx-3 d-flex justify-content-between">
			<h6 class="text-secondary"> Date et heure de début</h6>
            <p> Le {{ booking.startRes|date("d/m/Y \\a h \\h m") }}</p>

		</div>

		<div class="mx-3 d-flex justify-content-between">
			<h6 class="text-secondary">Heure de fin</h6>
            <p> Le {{ booking.endRes|date("d/m/Y \\a h \\h m") }}</p>

        </div>

		<div class="mx-3 d-flex justify-content-between">
			<h6 class="text-secondary">Coût du stationnement</h6>
            <p>{{ (booking.bookingPrice-1)|number_format(2, ',') }} €</p>
		</div>

		<div class="mx-3 d-flex justify-content-between">
			<h6 class="text-secondary">Frais de Chargether</h6>
            <p>1 €</p>
		</div>

		<div class="mx-3 d-flex justify-content-between">
			<h6 class="text-secondary fw-bold">
				Total
            </h6>
            <p class="fw-bold">{{ booking.bookingPrice|number_format(2, ',') }} €</p>
        </div>
	</div>

    <div class="h4 pb-3 mx-3 border-bottom border-secondary"></div>

    {% if booking.startLoc is not null %}

        {% if booking.endLoc is not null %}
            Location terminée
        {% else %}
            BOUTON TERMINER
        {% endif %}

    {% else %}
        BOUTON DEMARER LA RESERVATION
    {% endif %}

{% endfor %}



{% endblock %}
