<div class="station-info position-absolute bottom-0 bg-white w-100 d-flex flex-column gap-4 p-3 pt-4 align-items-center">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <h2 id='js-name' class="text-secondary d-flex gap-2"><img src="{{ asset('/images/logo_hote.png') }}">{{ app.user.userName }}</h2>
        <p>reviews</p>
    </div>
    <div class="d-flex justify-content-between w-100">
        <img style="height: 70px" src="{{ asset('images/stations/plugs/type1.png') }}">
        <div>
        <img style="height: 60px" src="{{ asset('images/parking.png') }}">
            <p class="text-center text-secondary fw-bold">privè</p>
        </div>
        <img style="height: 70px" src="{{ asset('images/stations/power/borne3kw.png') }}">
    </div>
    <a href="#" class="btn btn-secondary fs-2 rounded-pill col-6">Réserver</a>
</div>
